<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minhw.stu.mapper.StuOutNotificationMapper">

    <resultMap type="StuOutNotification" id="StuOutNotificationResult">
        <result property="ksh" column="ksh"/>
        <result property="kddh" column="kddh"/>
        <result property="xm" column="xm"/>
        <result property="yzbh" column="yzbh"/>
        <result property="lxdh" column="lxdh"/>
        <result property="yjdz" column="yjdz"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectStuOutNotificationVo">
        select ksh,
               kddh,
               xm,
               yzbh,
               lxdh,
               yjdz,
               status,
               create_by,
               update_by,
               remark,
               update_time,
               create_time
        from stu_out_notification
    </sql>

    <select id="selectStuOutNotificationList" parameterType="StuOutNotification" resultMap="StuOutNotificationResult">
        <include refid="selectStuOutNotificationVo"/>
        <where>
            <if test="ksh != null  and ksh != ''">and ksh = #{ksh}</if>
            <if test="kddh != null  and kddh != ''">and kddh like concat('%', #{kddh}, '%')</if>
            <if test="xm != null  and xm != ''">and xm like concat('%', #{xm}, '%')</if>
            <if test="lxdh != null  and lxdh != ''">and lxdh like concat('%', #{lxdh}, '%')</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and create_time between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectStuOutNotificationByKsh" parameterType="String" resultMap="StuOutNotificationResult">
        <include refid="selectStuOutNotificationVo"/>
        where ksh = #{ksh}
    </select>

    <insert id="insertStuOutNotification" parameterType="StuOutNotification">
        insert into stu_out_notification
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ksh != null and ksh != ''">ksh,</if>
            <if test="kddh != null and kddh != ''">kddh,</if>
            <if test="xm != null and xm != ''">xm,</if>
            <if test="yzbh != null">yzbh,</if>
            <if test="lxdh != null and lxdh != ''">lxdh,</if>
            <if test="yjdz != null and yjdz != ''">yjdz,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ksh != null and ksh != ''">#{ksh},</if>
            <if test="kddh != null and kddh != ''">#{kddh},</if>
            <if test="xm != null and xm != ''">#{xm},</if>
            <if test="yzbh != null">#{yzbh},</if>
            <if test="lxdh != null and lxdh != ''">#{lxdh},</if>
            <if test="yjdz != null and yjdz != ''">#{yjdz},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateStuOutNotification" parameterType="StuOutNotification">
        update stu_out_notification
        <trim prefix="SET" suffixOverrides=",">
            <if test="kddh != null and kddh != ''">kddh = #{kddh},</if>
            <if test="xm != null and xm != ''">xm = #{xm},</if>
            <if test="yzbh != null">yzbh = #{yzbh},</if>
            <if test="lxdh != null and lxdh != ''">lxdh = #{lxdh},</if>
            <if test="yjdz != null and yjdz != ''">yjdz = #{yjdz},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where ksh = #{ksh}
    </update>

    <delete id="deleteStuOutNotificationByKsh" parameterType="String">
        delete
        from stu_out_notification
        where ksh = #{ksh}
    </delete>

    <delete id="deleteStuOutNotificationByKshs" parameterType="String">
        delete from stu_out_notification where ksh in
        <foreach item="ksh" collection="array" open="(" separator="," close=")">
            #{ksh}
        </foreach>
    </delete>
</mapper>