<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minhw.analysis.mapper.AnalysisIndexMapper">

    <resultMap type="AnalysisIndex" id="AnalysisIndexResult">
        <result property="name" column="name"/>
        <result property="value" column="value"/>
    </resultMap>

    <select id="selectSysHongPageVistCount" resultMap="AnalysisIndexResult">
        SELECT COUNT(*) as value, title as name FROM sys_homepage_visit_log group by title;
    </select>

</mapper>