<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minhw.archives.mapper.InArchivesEmsMapper">

    <resultMap type="InArchivesEms" id="InArchivesEmsResult">
        <result property="id" column="id"/>
        <result property="xh" column="xh"/>
        <result property="kddh" column="kddh"/>
        <result property="qsyz" column="qsyz"/>
        <result property="sfda" column="sfda"/>
        <result property="xm" column="xm"/>
        <result property="ksh" column="ksh"/>
        <result property="sfzh" column="sfzh"/>
        <result property="dadqk" column="dadqk"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectInArchivesEmsVo">
        select id,
               xh,
               kddh,
               qsyz,
               sfda,
               xm,
               ksh,
               sfzh,
               dadqk,
               status,
               create_by,
               update_by,
               remark,
               update_time,
               create_time
        from in_archives_ems
    </sql>

    <select id="selectInArchivesEmsList" parameterType="InArchivesEms" resultMap="InArchivesEmsResult">
        <include refid="selectInArchivesEmsVo"/>
        <where>
            <if test="kddh != null  and kddh != ''">and kddh like concat('%', #{kddh}, '%')</if>
            <if test="qsyz != null ">and qsyz = #{qsyz}</if>
            <if test="sfda != null ">and sfda = #{sfda}</if>
            <if test="xm != null  and xm != ''">and xm like concat('%', #{xm}, '%')</if>
            <if test="ksh != null  and ksh != ''">and ksh like concat('%', #{ksh}, '%')</if>
            <if test="sfzh != null  and sfzh != ''">and sfzh like concat('%', #{sfzh}, '%')</if>
            <if test="dadqk != null ">and dadqk = #{dadqk}</if>
            <if test="status != null ">and status = #{status}</if>
        </where>
    </select>

    <select id="selectInArchivesEmsById" parameterType="Long" resultMap="InArchivesEmsResult">
        <include refid="selectInArchivesEmsVo"/>
        where id = #{id}
    </select>

    <select id="selectInArchivesEmsBykddh" parameterType="InArchivesEms" resultMap="InArchivesEmsResult">
        <include refid="selectInArchivesEmsVo"/>
        where kddh = #{kddh}
    </select>

    <select id="selectInArchivesEmsByYearkddh" parameterType="InArchivesEms" resultMap="InArchivesEmsResult">
        <include refid="selectInArchivesEmsVo"/>
        where kddh = #{kddh} and YEAR(create_time) = #{params.yearStr}
    </select>

    <select id="selectInArchivesEmsByNowYearKddh" parameterType="String" resultMap="InArchivesEmsResult">
        <include refid="selectInArchivesEmsVo"/>
        where kddh = #{kddh} and YEAR(create_time) = YEAR(NOW())
    </select>

    <select id="selectInArchivesEmsByNowYearXhList" parameterType="Long" resultMap="InArchivesEmsResult">
        <include refid="selectInArchivesEmsVo"/>
        where xh = #{xh} and YEAR(create_time) = YEAR(NOW())
    </select>

    <select id="selectInArchivesEmsMaxXhByYear" parameterType="String" resultType="Integer">
        select MAX(xh) as maxxh
        from in_archives_ems
        where YEAR (create_time) = #{yearStr}
    </select>

    <insert id="insertInArchivesEms" parameterType="InArchivesEms" useGeneratedKeys="true" keyProperty="id">
        insert into in_archives_ems
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="xh != null">xh,</if>
            <if test="kddh != null">kddh,</if>
            <if test="qsyz != null">qsyz,</if>
            <if test="sfda != null">sfda,</if>
            <if test="xm != null">xm,</if>
            <if test="ksh != null">ksh,</if>
            <if test="sfzh != null">sfzh,</if>
            <if test="dadqk != null">dadqk,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="xh !=null">#{xh},</if>
            <if test="kddh != null">#{kddh},</if>
            <if test="qsyz != null">#{qsyz},</if>
            <if test="sfda != null">#{sfda},</if>
            <if test="xm != null">#{xm},</if>
            <if test="ksh != null">#{ksh},</if>
            <if test="sfzh != null">#{sfzh},</if>
            <if test="dadqk != null">#{dadqk},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateInArchivesEms" parameterType="InArchivesEms">
        update in_archives_ems
        <trim prefix="SET" suffixOverrides=",">
            <if test="xh !=null">xh = #{xh},</if>
            <if test="kddh != null">kddh = #{kddh},</if>
            <if test="qsyz != null">qsyz = #{qsyz},</if>
            <if test="sfda != null">sfda = #{sfda},</if>
            <if test="xm != null">xm = #{xm},</if>
            <if test="ksh != null">ksh = #{ksh},</if>
            <if test="sfzh != null">sfzh = #{sfzh},</if>
            <if test="dadqk != null">dadqk = #{dadqk},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>


    <update id="updateInArchivesEmsByKddh" parameterType="InArchivesEms">
        update in_archives_ems
        <trim prefix="SET" suffixOverrides=",">
            <if test="xh !=null">xh = #{xh},</if>
            <if test="qsyz != null">qsyz = #{qsyz},</if>
            <if test="sfda != null">sfda = #{sfda},</if>
            <if test="xm != null">xm = #{xm},</if>
            <if test="ksh != null">ksh = #{ksh},</if>
            <if test="sfzh != null">sfzh = #{sfzh},</if>
            <if test="dadqk != null">dadqk = #{dadqk},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <!--            <if test="updateTime != null">update_time = #{updateTime},</if>-->
            <!--            <if test="createTime != null">create_time = #{createTime},</if>-->
        </trim>
        where kddh = #{kddh} and YEAR(create_time) = #{params.yearStr}
    </update>

    <update id="updateInArchivesEmsByNowYearKddh" parameterType="InArchivesEms">
        update in_archives_ems
        <trim prefix="SET" suffixOverrides=",">
            <if test="xh !=null">xh = #{xh},</if>
            <if test="qsyz != null">qsyz = #{qsyz},</if>
            <if test="sfda != null">sfda = #{sfda},</if>
            <if test="xm != null">xm = #{xm},</if>
            <if test="ksh != null">ksh = #{ksh},</if>
            <if test="sfzh != null">sfzh = #{sfzh},</if>
            <if test="dadqk != null">dadqk = #{dadqk},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where kddh = #{kddh} and YEAR(create_time) = YEAR(NOW())
    </update>

    <update id="updateInArchivesEmsByNowYearXh" parameterType="InArchivesEms">
        update in_archives_ems
        <trim prefix="SET" suffixOverrides=",">
            <if test="qsyz != null">qsyz = #{qsyz},</if>
            <if test="sfda != null">sfda = #{sfda},</if>
            <if test="xm != null">xm = #{xm},</if>
            <if test="ksh != null">ksh = #{ksh},</if>
            <if test="sfzh != null">sfzh = #{sfzh},</if>
            <if test="dadqk != null">dadqk = #{dadqk},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where xh = #{xh} and YEAR(create_time) = YEAR(NOW())
    </update>

    <delete id="deleteInArchivesEmsById" parameterType="Long">
        delete
        from in_archives_ems
        where id = #{id}
    </delete>

    <delete id="deleteInArchivesEmsByIds" parameterType="String">
        delete from in_archives_ems where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>