<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minhw.archives.mapper.InArchivesClassTempMapper">

    <resultMap type="InArchivesClassTemp" id="InArchivesClassTempResult">
        <result property="id" column="id"/>
        <result property="xuehao" column="xuehao"/>
        <result property="xh" column="xh"/>
        <result property="bj" column="bj"/>
        <result property="xm" column="xm"/>
        <result property="ksh" column="ksh"/>
        <result property="sfzh" column="sfzh"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectInArchivesClassTempVo">
        select id,
               xuehao,
               xh,
               bj,
               xm,
               ksh,
               sfzh,
               status,
               create_by,
               update_by,
               remark,
               update_time,
               create_time
        from in_archives_class_temp
    </sql>

    <select id="selectInArchivesClassTempList" parameterType="InArchivesClassTemp"
            resultMap="InArchivesClassTempResult">
        <include refid="selectInArchivesClassTempVo"/>
        <where>
            <if test="xuehao != null  and xuehao != ''">and xuehao = #{xuehao}</if>
            <if test="xh != null ">and xh = #{xh}</if>
            <if test="bj != null  and bj != ''">and bj like concat('%', #{bj}, '%')</if>
            <if test="xm != null  and xm != ''">and xm like concat('%', #{xm}, '%')</if>
            <if test="ksh != null  and ksh != ''">and ksh like concat('%', #{ksh}, '%')</if>
            <if test="sfzh != null  and sfzh != ''">and sfzh like concat('%', #{sfzh}, '%')</if>
            <if test="status != null ">and status = #{status}</if>
        </where>
    </select>

    <select id="selectInArchivesClassTempById" parameterType="Long" resultMap="InArchivesClassTempResult">
        <include refid="selectInArchivesClassTempVo"/>
        where id = #{id}
    </select>

    <insert id="insertInArchivesClassTemp" parameterType="InArchivesClassTemp" useGeneratedKeys="true" keyProperty="id">
        insert into in_archives_class_temp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="xuehao != null and xuehao != ''">xuehao,</if>
            <if test="xh != null">xh,</if>
            <if test="bj != null">bj,</if>
            <if test="xm != null">xm,</if>
            <if test="ksh != null">ksh,</if>
            <if test="sfzh != null">sfzh,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="xuehao != null and xuehao != ''">#{xuehao},</if>
            <if test="xh != null">#{xh},</if>
            <if test="bj != null">#{bj},</if>
            <if test="xm != null">#{xm},</if>
            <if test="ksh != null">#{ksh},</if>
            <if test="sfzh != null">#{sfzh},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateInArchivesClassTemp" parameterType="InArchivesClassTemp">
        update in_archives_class_temp
        <trim prefix="SET" suffixOverrides=",">
            <if test="xuehao != null and xuehao != ''">xuehao = #{xuehao},</if>
            <if test="xh != null">xh = #{xh},</if>
            <if test="bj != null">bj = #{bj},</if>
            <if test="xm != null">xm = #{xm},</if>
            <if test="ksh != null">ksh = #{ksh},</if>
            <if test="sfzh != null">sfzh = #{sfzh},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInArchivesClassTempById" parameterType="Long">
        delete
        from in_archives_class_temp
        where id = #{id}
    </delete>

    <delete id="deleteInArchivesClassTempByIds" parameterType="String">
        delete from in_archives_class_temp where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>