<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minhw.archives.mapper.InArchivesClassMapper">

    <resultMap type="InArchivesClass" id="InArchivesClassResult">
        <result property="xuehao" column="xuehao"/>
        <result property="xh" column="xh"/>
        <result property="bj" column="bj"/>
        <result property="xm" column="xm"/>
        <result property="dazt" column="dazt"/>
        <result property="ksh" column="ksh"/>
        <result property="sfzh" column="sfzh"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectInArchivesClassVo">
        select xuehao,
               xh,
               bj,
               xm,
               dazt,
               ksh,
               sfzh,
               status,
               create_by,
               update_by,
               remark,
               update_time,
               create_time
        from in_archives_class
    </sql>

    <select id="selectInArchivesClassList" parameterType="InArchivesClass" resultMap="InArchivesClassResult">
        <include refid="selectInArchivesClassVo"/>
        <where>
            <if test="xuehao != null  and xuehao != ''">and xuehao = #{xuehao}</if>
            <if test="bj != null  and bj != ''">and bj like concat('%', #{bj}, '%')</if>
            <if test="xm != null  and xm != ''">and xm like concat('%', #{xm}, '%')</if>
            <if test="dazt != null ">and dazt = #{dazt}</if>
            <if test="ksh != null  and ksh != ''">and ksh like concat('%', #{ksh}, '%')</if>
            <if test="sfzh != null  and sfzh != ''">and sfzh like concat('%', #{sfzh}, '%')</if>
            <if test="status != null ">and status = #{status}</if>
        </where>
    </select>

    <select id="selectInArchivesClassByXuehao" parameterType="String" resultMap="InArchivesClassResult">
        <include refid="selectInArchivesClassVo"/>
        where xuehao = #{xuehao}
    </select>

    <insert id="insertInArchivesClass" parameterType="InArchivesClass">
        insert into in_archives_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="xuehao != null and xuehao != ''">xuehao,</if>
            <if test="xh != null">xh,</if>
            <if test="bj != null">bj,</if>
            <if test="xm != null">xm,</if>
            <if test="dazt != null">dazt,</if>
            <if test="ksh != null">ksh,</if>
            <if test="sfzh != null">sfzh,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="xuehao != null and xuehao != ''">#{xuehao},</if>
            <if test="xh != null">#{xh},</if>
            <if test="bj != null">#{bj},</if>
            <if test="xm != null">#{xm},</if>
            <if test="dazt != null">#{dazt},</if>
            <if test="ksh != null">#{ksh},</if>
            <if test="sfzh != null">#{sfzh},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateInArchivesClass" parameterType="InArchivesClass">
        update in_archives_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="xh != null">xh = #{xh},</if>
            <if test="bj != null">bj = #{bj},</if>
            <if test="xm != null">xm = #{xm},</if>
            <if test="dazt != null">dazt = #{dazt},</if>
            <if test="ksh != null">ksh = #{ksh},</if>
            <if test="sfzh != null">sfzh = #{sfzh},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where xuehao = #{xuehao}
    </update>

    <delete id="deleteInArchivesClassByXuehao" parameterType="String">
        delete
        from in_archives_class
        where xuehao = #{xuehao}
    </delete>

    <delete id="deleteInArchivesClassByXuehaos" parameterType="String">
        delete from in_archives_class where xuehao in
        <foreach item="xuehao" collection="array" open="(" separator="," close=")">
            #{xuehao}
        </foreach>
    </delete>
</mapper>